.card {
    margin-bottom: 20px;
}
/* img{
    border-radius: 50%;
} */
.party-logo,img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px auto;
}
.vote-button {
    margin-top: 20px;
}
#finish-voting {
    margin-top: 40px;
}
#winner {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container-fluid{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/images/vote2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#winner,h1{
    color: white;
}