body {
    background-image: linear-gradient(to bottom, #9fa6f1, #6161d6, #4948b2, #6700a7);
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#ageOutput {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    color: #333;
}